#DATABASE_DRIVER="mongodb"
#DATABASE_URL="mongodb://localhost:27017/prac"
#DEBUG=*

DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://prac:test@localhost:5432/prac"
DEBUG=*

POSTGRES_HOST="postgres"
POSTGRES_USER="USER_NAME"
POSTGRES_PASSWORD="USER_PASSWORD"
POSTGRES_DB="prac"
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL="test@test.com"
PGADMIN_DEFAULT_PASSWORD="PASSWORD"
PGADMIN_CONFIG_SERVER_MODE="False"