#DATABASE_DRIVER="mongodb"
#DATABASE_URL="mongodb://localhost:27017/prac"
#DEBUG=*

DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://prac:test@localhost:5432/prac"
DEBUG=*
LOGGER="tskv"

PGADMIN_DEFAULT_EMAIL="test@test.com"
PGADMIN_DEFAULT_PASSWORD="PASSWORD"
PGADMIN_CONFIG_SERVER_MODE="False"